[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = {editable = true, git = "https://github.com/Pycord-Development/pycord"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
